<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>皮肤上传</title>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/eui.css">
    <script src="./js/eui.js"></script>
    <script src="./js/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>皮肤上传页面</h1>
        <!-- action提交位置,limit图片限制,success相传后调用的方法,exceed超出范围调用方法 -->
        <el-upload action="/upload_x" limit=1 name="picFile" list-type="picture-card"
            :on-preview="handlePictureCardPreview" :on-remove="handleRemove" :on-success="uploadSuccess"
            :on-exceed="exceed">
            <i class="el-icon-plus"></i>
        </el-upload>
        <el-dialog :visible.sync="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>
        <el-button @click="send()">上传皮肤图片</el-button>
        <h3>请输入皮肤数据</h3>
        <el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign" label-position="top">
            <el-form-item label="皮肤名">
                <el-input v-model="skin.name"></el-input>
            </el-form-item>
            <el-form-item label="品质">
                <el-input v-model="skin.quality"></el-input>
            </el-form-item>
            <el-form-item label="价格">
                <el-input v-model="skin.price"></el-input>
            </el-form-item>
            <el-form-item label="老价格">
                <el-input v-model="skin.old_price"></el-input>
            </el-form-item>
            <el-form-item label="存放路径" disabled="true">
                <el-input v-model="skin.url"></el-input>
            </el-form-item>
            <el-form-item label="已售">
                <el-input v-model="skin.sale"></el-input>
            </el-form-item>
            <el-button type="primary" @click="sub">提交</el-button>
        </el-form>
        <a href="./admin.html">返回管理员页面</a>
    </div>

    <script>
        let v = new Vue({
            el: '#app',
            data: {
                dialogImageUrl: '',
                dialogVisible: false,   
                skin: {
                    name: '',
                    quality: '',
                    price: '',
                    old_price: '',
                    url: '',
                    sale: ''
                }
            },
            methods: {
                //当点击删除时调用的方法
                handleRemove(file, fileList) {
                    axios.get('/remove_x?name='+file.response).then(res=>{

                    })
                    alert("删除成功")
                    v.skin.url=''
                },
                handlePictureCardPreview(file) {
                    this.dialogImageUrl = file.url;
                    this.dialogVisible = true;
                },
                uploadSuccess(response) {
                    v.skin.url = response
                },
                exceed() {
                    alert("只能上传一张图片")
                },
                send() {
                    if (v.skin.url == '')
                        alert("请上传图片")

                },
                sub() {//提交商品数据
                    axios.post('/skinbase/sub', v.skin).then(res => { })
                    location.reload()
                }

            }
        })
    </script>
</body>

</html>